---
import Layout from '@layouts/Layout.astro';

import { Picture } from 'astro:assets';

import RevealHeader from '@components/RevealHeader/RevealHeader.astro';
import ContactFooter from '@components/ContactFooter/ContactFooter.astro';
import RevealImage from '@components/RevealHeader/RevealImage.astro';
import RevealBody from '@components/RevealHeader/RevealBody.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import ServiceSlider from '@components/ServiceSlider/ServiceSlider.astro';

import leaders from '@images/leaders.jpg';
import mob from '@images/leaders-mob.jpg';
---

<Layout title="Programmes — Leaders">
    <div
        class="flex aspect-393/852 max-h-dvh min-h-200 flex-col justify-end bg-offwhite pr-fluid-forty pl-fluid-forty sm:aspect-1512/902 sm:min-h-0 sm:justify-center sm:pb-0"
    >
        <div class="absolute right-0 left-0 z-0 aspect-393/852 sm:aspect-1512/902">
            <Picture
                alt="A clipboard and paper"
                src={leaders}
                layout="full-width"
                class="hidden h-full w-full object-cover sm:flex"
            />
            <Picture
                alt="A clipboard and paper"
                src={mob}
                layout="full-width"
                class="flex h-full w-full object-cover sm:hidden"
            />
        </div>
        <div class="pb-fluid-270 sm:pb-0">
            <RevealHeader
                delay={0.25}
                textColor="#FFFFFF"
                lines={[
                    { text: 'Coaching', font: 'formula' },
                    { text: 'Des Leaders', font: 'editorial' }
                ]}
            />
        </div>
    </div>
    <div
        class="grid h-fit grid-cols-12 gap-fluid-twenty bg-offwhite pt-fluid-5xl pr-fluid-forty pb-fluid-5xl pl-fluid-forty sm:aspect-1512/830"
    >
        <div
            class="col-span-12 flex h-full flex-col justify-center gap-fluid-eighty pt-48 pb-48 sm:col-span-8 sm:col-start-3 sm:pt-16 sm:pb-16"
        >
            <p class="text-mob-body leading-[120%] font-light tracking-[3%] sm:text-body-md">
                Nos programmes dédiés au leaders accompagnent les entrepreneur·es, coach·es et
                professionnel·les en transition ou en croissance. Ils sont conçus pour soutenir un
                leadership aligné, humain et durable à travers des parcours individuels, de groupe
                et immersifs.
            </p>
        </div>
    </div>

    <ServiceSlider
        slides={[
            {
                shapeClass: 'hexagon',
                shapeTitle: 'Programmes<br/>Individuels',
                descriptions: [
                    {
                        title: 'Propulse',
                        text: 'Coaching d’activation pour leaders en émergence. Pour passer à l’action avec clarté, structurer les premières bases de son projet.'
                    },
                    {
                        title: 'Croissance+',
                        text: 'Coaching structurant pour entrepreneur·es en expansion. Pour consolider sa posture, clarifier sa vision et créer un impact stratégique durable.'
                    },
                    {
                        title: 'Focus stratégique',
                        text: 'Pour mentors et fondateur·ices aguerri·es en phase de transmission, de transition ou de recentragee. Inclut le GLP (Global Leadership Profile).'
                    }
                ]
            },
            {
                shapeClass: 'circle',
                shapeTitle: 'Programmes<br/>De Groupe',
                descriptions: [
                    {
                        title: 'NEOSPHÈRE – Le réseau des entrepreneurs ouverts aux opportunités',
                        text: 'Un programme collectif transformationnel pour les leaders en quête de sens. Entre introspection guidée, alignement entrepreneurial et activation collective, NEOSPHÈRE offre un espace porteur, stratégique et profondément humain.'
                    }
                ]
            },
            {
                shapeClass: 'diamond',
                shapeTitle: 'Expériences<br/>Immersives',
                descriptions: [
                    {
                        title: 'Cercles Tangible',
                        text: 'Abonnements mensuels donnant accès à des contenus exclusifs, du coaching de groupe et une communauté engagée. Trois formats : Cocréation, Ancrage et Expansion.'
                    },
                    {
                        title: 'Whiteboard™',
                        text: 'Ateliers intensifs pour clarifier sa trajectoire entrepreneuriale, faciliter les décisions clés et raviver sa vision stratégique.'
                    },
                    {
                        title: 'Retraites Tangible',
                        text: 'Immersions humaines pour leaders et régénératrices pour leaders en quête de recentrage, d’alignement et de ressourcement — en nature ou en ville.'
                    }
                ]
            }
        ]}
    />

    <ContactFooter heading="Amorcez une transformation tangible." />
</Layout>
