@import 'tailwindcss';

:root {
    --unit-sm: 10px;
    --unit-md: 20px;
}

@theme static {
    --font-sans: 'PP Radio Grotesk', sans-erif;
    --font-formula: 'PP Formula', sans-serif;
    --font-editorial: 'PP Editorial New', serif;

    --text-heading-xl2: utopia.clamp(62, 128);
    --text-heading-xl: utopia.clamp(60, 120);
    --text-heading-lg: utopia.clamp(40, 94);
    --text-body-sm: utopia.clamp(12, 20);
    --text-body-caption: clamp(0.9rem, 0.2386rem + 1.0227vw, 1.95rem);
    --text-body-md: utopia.clamp(14, 48);
    --text-body-lg: utopia.clamp(32, 40);
    --text-button: utopia.clamp(12, 18);
    --text-circles-text: utopia.clamp(22, 93);
    --text-test: utopia.clamp(14, 48);
    --text-list-lg: clamp(1.7813rem, 1.2645rem + 2.5838vw, 4.365rem);
    --text-list-num: clamp(1.7813rem, 1.1851rem + 2.9806vw, 4.7619rem);
    --text-header-two: clamp(1.2213rem, 0.91rem + 1.5563vw, 2.7775rem);
    --text-button: clamp(0.6875rem, 0.233rem + 0.9091vw, 1.6875rem);

    --text-nav: utopia.clamp(14, 16);

    --text-header-service2: clamp(2.7481rem, 1.5518rem + 5.9819vw, 8.73rem);
    --text-header-service: clamp(2.5444rem, 1.3866rem + 5.7888vw, 8.3331rem);
    --text-footer-header: utopia.clamp(56, 100);

    --color-black: #000000;
    --color-white: #ffffff;
    --color-perle: #e1e3d0;
    --color-bronze: #997e4e;
    --color-yellow: #f4e727;
    --color-offwhite: #ededed;

    --text-mob-section: clamp(0.7125rem, -0.0208rem + 3.6667vw, 1.125rem);
    --text-mob-body: clamp(1.125rem, 0.0139rem + 5.5556vw, 1.75rem);
    --text-mob-nav: clamp(1.7813rem, -0.0312rem + 9.0625vw, 4rem);
    --text-mob-nav-sm: clamp(1.2213rem, 0.0354rem + 5.9292vw, 2.5rem);
    --text-mob-md: clamp(1.7813rem, 0.0001rem + 8.9056vw, 2.7831rem);
    --text-mob-caption: clamp(0.7125rem, 0rem + 3.5625vw, 1.7813rem);
    --text-button-mob: clamp(0.855rem, 0.1528rem + 3.5111vw, 1rem);
    --text-mob-footer: clamp(1.7813rem, 0.0001rem + 8.9056vw, 2.7831rem);
    --text-mob-footer-nav: clamp(0.6875rem, -0.0903rem + 3.8889vw, 1.125rem);
    --text-mob-circles: clamp(1.25rem, 0.1389rem + 5.5556vw, 1.875rem);

    --spacing-mob-menu: clamp(1.875rem, 0.625rem + 6.25vw, 3.75rem);
    --spacing-mob-64: clamp(3rem, 0rem + 15vw, 7.5rem);
    --spacing-mob-32: clamp(1.5rem, 0rem + 7.5vw, 3.75rem);
    --spacing-mob-16: clamp(0.75rem, 0rem + 3.75vw, 1.875rem);
    --spacing-mob-footer: clamp(17.1875rem, -1.1458rem + 91.6667vw, 27.5rem);
    --spacing-mob-128: clamp(6rem, 0rem + 30vw, 15rem);

    --spacing-fluid-twenty: utopia.clamp(5, 33);
    --spacing-fluid-thirty: utopia.clamp(25, 40);
    --spacing-fluid-forty: clamp(1.3125rem, 0.0057rem + 2.6136vw, 4.1875rem);
    --spacing-fluid-sixty: utopia.clamp(12, 100);
    --spacing-fluid-eighty: utopia.clamp(16, 132);
    --spacing-fluid-160: utopia.clamp(32, 264);
    --spacing-fluid-270: utopia.clamp(54, 444);

    --spacing-fluid-nav: utopia.clamp(5, 10);
    --spacing-button-vert: clamp(0.375rem, 0.0625rem + 0.625vw, 1.0625rem);
    --spacing-button-hor: clamp(1.25rem, 0rem + 2.5vw, 4rem);
    --spacing-button-vert-mob: clamp(0.625rem, -0.0417rem + 3.3333vw, 1rem);
    --spacing-button-hor-mob: clamp(1.9375rem, 0.0486rem + 9.4444vw, 3rem);

    --spacing-unit-sm: var(--unit-sm);
    --spacing-unit-md: var(--unit-md);
    --spacing-gutter: var(--spacing-unit-md);
    --spacing-fluid-xs: utopia.clamp(8, 10);
    --spacing-fluid-sm: utopia.clamp(16, 24);
    --spacing-fluid-md: utopia.clamp(24, 32);
    --spacing-fluid-lg: utopia.clamp(32, 40);
    --spacing-fluid-xl: utopia.clamp(40, 56);
    --spacing-fluid-2xl: utopia.clamp(56, 80);
    --spacing-fluid-3xl: utopia.clamp(80, 128);
    --spacing-fluid-4xl: utopia.clamp(128, 160);
    --spacing-fluid-5xl: utopia.clamp(33, 270);

    --breakpoint-2xs: 340px;
    --breakpoint-xs: 500px;
    --breakpoint-sm: 700px;
    --breakpoint-md: 810px;
    --breakpoint-lg: 1100px;
    --breakpoint-xl: 1400px;
    --breakpoint-2xl: 1600px;
    --breakpoint-3xl: 1800px;
    --breakpoint-4xl: 2000px;
    --breakpoint-5xl: 2400px;

    --transition-duration-fast: 0.2s;
    --transition-duration: 0.4s;
    --transition-duration-slow: 0.6s;
    --transition-duration-slower: 0.8s;
    --transition-duration-slowest: 1s;

    --ease: cubic-bezier(0.645, 0.045, 0.355, 1);

    --ease-power1-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-power1-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-power1-inOut: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-power2-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-power2-inOut: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-power3-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-power3-out: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-power3-inOut: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-power4-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-power4-out: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-power4-inOut: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-expo-inOut: cubic-bezier(1, 0, 0, 1);
    --ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --ease-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-back-inOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --ease-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
    --ease-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
    --ease-sine-inOut: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-circ-inOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --ease-bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
    --ease-slow-out: cubic-bezier(0, 1, 0.4, 1);
    --ease-smooth: cubic-bezier(0.38, 0, 0.215, 1);
    --ease: var(--ease-smooth);

    --z-index-modal: 200;
    --z-index-header: 100;
    --z-index: 0;
    --z-index-above: 1;
    --z-index-below: -1;
}

@layer components {
    :root {
        /* Metrics */
        --button-height: auto;
        --button-width: auto;
        --button-radius: 0px;
        --button-font-size: var(--text-button);
        --button-padding: 0.65625rem, 2.59375rem;
        --button-gap: 25px;

        /* Idle state - Default styles */
        --button-color: var(--color-black);
        --button-background: var(--color-yellow);
        --button-stroke-color: transparent;

        /* Hover state - Default styles */
        --button-color-hover: var(--color-white);
        --button-background-hover: black;

        /* Active state - Default styles */
        --button-color-active: var(--color-black);
        --button-background-active: var(--color-white);
    }

    .c-button {
        position: relative;
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        color: var(--button-color);
        border-radius: var(--button-radius);
        background-color: var(--button-background);
        border: 1px solid var(--button-stroke-color);
        transition: background-color var(--duration) var(--ease);
        @apply hover:bg-black hover:text-(--button-color-hover);
    }
}
