@utility heading-xl {
    font-size: var(--text-heading-xl);
    font-style: normal;
    line-height: 0.85;
}

@utility heading-lg {
    font-size: var(--text-heading-lg);
    font-style: normal;
    line-height: 1;
}

@utility text-body {
    font-size: var(--text-body-sm);
    font-style: normal;
    line-height: 1.35;
}

@utility text-body-md {
    font-size: var(--text-body-md);
}
