---
import Layout from '@layouts/Layout.astro';

import { Picture } from 'astro:assets';

import RevealHeader from '@components/RevealHeader/RevealHeader.astro';
import ContactFooter from '@components/ContactFooter/ContactFooter.astro';
import RevealImage from '@components/RevealHeader/RevealImage.astro';
import RevealBody from '@components/RevealHeader/RevealBody.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import ServiceSlider from '@components/ServiceSlider/ServiceSlider.astro';

import about from '@images/centreiam2.png';
import leaders from '@images/hands_tangible.jpg';
import mobcentre from '@images/mob_centre.png';
---

<Layout title="I AM Center">
    <div class="flex h-screen flex-col justify-center bg-offwhite pr-fluid-forty pl-fluid-forty">
        <div class="absolute top-0 right-0 left-0 z-0 h-full w-full">
            <Picture
                alt="A clipboard and paper"
                src={leaders}
                layout="full-width"
                class="object-cover"
            />
        </div>
        <RevealHeader
            delay={0.25}
            textColor="#FFFFFF"
            lines={[
                { text: 'For an authentic', font: 'formula' },
                { text: 'connection', font: 'editorial' },
                { text: 'to your being', font: 'editorial' }
            ]}
        />
    </div>
    <div
        class="grid aspect-1512/830 h-fit grid-cols-8 gap-fluid-twenty bg-offwhite pt-fluid-eighty pr-fluid-forty pb-fluid-forty pl-fluid-forty sm:grid-cols-12"
    >
        <div
            class="font-radio sm:text-body col-span-8 flex flex-row items-center justify-center border-b border-b-perle pb-3 text-[0.9rem] tracking-[3%] uppercase sm:hidden"
        >
            About
        </div>
        <div
            class="col-span-6 col-start-2 hidden w-full sm:col-span-4 sm:col-start-1 sm:flex sm:pr-fluid-twenty"
        >
            <Picture src={about} alt="Ron Cherilus" class="h-auto w-full object-cover" />
        </div>
        <div
            class="col-span-6 col-start-2 flex w-full pt-16 pb-16 pl-fluid-forty sm:col-span-4 sm:col-start-1 sm:hidden sm:pl-0"
        >
            <Picture src={mobcentre} alt="Ron Cherilus" class="h-auto w-full object-cover" />
        </div>
        <div
            class="col-span-8 flex h-full flex-col justify-start gap-fluid-eighty border-b border-b-perle"
        >
            <div
                class="font-radio text-body hidden flex-row items-center justify-center border-b border-b-perle pb-3 tracking-[3%] uppercase sm:flex"
            >
                About
            </div>
            <p
                class="pb-16 text-mob-body leading-[120%] font-light tracking-[3%] sm:pr-fluid-sixty sm:pl-fluid-sixty sm:text-body-md"
            >
                Since 2012, the I AM Center has supported thousands of members in realizing their
                authentic BEING. Established in the heart of downtown, in an inspiring and unique
                space, the I AM Center is a place for human encounters where training, coaching
                services, and meditations are offered. Guided by a team of certified professional
                coaches, the I AM Center offers support to develop your autonomy, cultivate your
                presence to yourself, and embody greater fulfillment in all spheres of your life.
            </p>
        </div>
        <div
            class="font-radio sm:text-body col-span-12 flex flex-row items-center justify-center border-b border-b-perle pt-16 pb-3 text-[0.9rem] tracking-[3%] uppercase sm:pt-fluid-eighty"
        >
            Our CIAM Services
        </div>
    </div>
    <div class="flex h-4 bg-offwhite"></div>
    <ServiceSlider
        slides={[
            {
                shapeClass: 'starburst',
                shapeTitle: 'Trainings',
                descriptions: [
                    {
                        text: 'Our certified coaches support you in the emergence of the authentic leader within you. Our trainings offer to discover and integrate the leader-coach posture. Starting from the essence (inner alignment, clarity, intention), participants will learn to transform their leadership into a tangible practice, lived in their daily conversations, decisions, and way of mobilizing their teams.'
                    }
                ]
            },
            {
                shapeClass: 'diamond',
                shapeTitle: 'Coaching',
                descriptions: [
                    {
                        text: 'Our coaching services offer personalized and transformative experiences, individually or in groups. These meetings allow you to take stock, align with your I AM, and access a higher level of clarity, congruence, and self-confidence, both in your decisions and your relationships.'
                    }
                ]
            },
            {
                shapeClass: 'sparkle',
                shapeTitle: 'Meditation',
                descriptions: [
                    {
                        text: 'Our experts and teachers introduce you to various meditation techniques based on scientific approaches and immersive methods. Through tools like musical integrations, we help you refocus, calm the mind, and regain your full inner power.'
                    }
                ]
            },
            {
                shapeClass: 'circle',
                shapeTitle: 'Public speaking<br/>coaching',
                descriptions: [
                    {
                        text: 'Expressing yourself freely in public often means stepping out of your comfort zone. I AM coaching helps you do this with authenticity, confidence, and freedom. Our support combines an introspective approach with a technical component: you explore the personal narrative that gives meaning to your message, while developing your presence, ease, eloquence, and mastery of speech. A comprehensive process to align yourself, embody your story, and communicate with impact.'
                    }
                ]
            },
            {
                shapeClass: 'hexagon',
                shapeTitle: 'Our pro bono services',
                descriptions: [
                    {
                        text: 'To increase our social impact, the I AM coaching team offers pro bono services to non-profit organizations that have a social, environmental, sports, or educational mission with youth. A concrete way to put our expertise at the service of those who build a better world.'
                    }
                ]
            }
        ]}
    />

    <ContactFooter heading="Initiate a tangible transformation." />
</Layout>
