---
import Layout from '@layouts/Layout.astro';

import { Picture } from 'astro:assets';

import RevealHeader from '@components/RevealHeader/RevealHeader.astro';
import ContactFooter from '@components/ContactFooter/ContactFooter.astro';
import RevealImage from '@components/RevealHeader/RevealImage.astro';
import RevealBody from '@components/RevealHeader/RevealBody.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import ServiceSlider from '@components/ServiceSlider/ServiceSlider.astro';
import Button from '../components/Button/Button.astro';

import about from '@images/centreiam2.png';
import leaders from '@images/leaders.jpg';
---

<Layout title="Programmes — Leaders">
    <div class="flex h-screen flex-col justify-center bg-offwhite pr-fluid-forty pl-fluid-forty">
        <div class="absolute top-0 right-0 left-0 z-0 h-full w-full">
            <Picture
                alt="A clipboard and paper"
                src={leaders}
                layout="full-width"
                class="h-full min-w-full object-cover"
            />
        </div>
        <RevealHeader
            delay={0.25}
            textColor="#FFFFFF"
            lines={[
                { text: 'Un espace pour initier', font: 'formula' },
                { text: 'un vrai', font: 'editorial' },
                { text: 'mouvement', font: 'editorial' }
            ]}
        />
    </div>
    <div
        class="grid aspect-1512/830 h-fit grid-cols-12 gap-fluid-twenty bg-perle pt-fluid-160 pr-fluid-forty pb-fluid-160 pl-fluid-forty"
    >
        <div
            class="col-span-12 flex h-full flex-col justify-start gap-fluid-eighty sm:col-span-8 sm:col-start-3"
        >
            <div
                class="flex flex-col gap-fluid-forty pt-32 pb-32 text-mob-body leading-[120%] font-light tracking-[3%] sm:pt-0 sm:pb-0 sm:text-body-md"
            >
                <p class="font-bold text-bronze">
                    Vous souhaitez amorcer une transformation tangible, pour vous, votre équipe ou
                    votre écosystème ?
                </p>
                <div class="flex flex-col gap-0 sm:gap-fluid-forty">
                    <p class="pb-fluid-forty sm:pb-0">
                        L’équipe Tangible est là pour vous accompagner à chaque étape. Que ce soit
                        pour en savoir plus sur nos programmes, réserver une consultation ou
                        rencontrer un·e coach de notre équipe, nous serons heureux de créer un
                        moment porteur avec vous.
                    </p>
                    <div
                        class="flex flex-col gap-fluid-twenty border-t border-b border-white pt-fluid-forty pb-fluid-forty sm:grid sm:grid-cols-2"
                    >
                        <a>info@tangiblecoach.com</a>
                        <a class="hidden sm:flex">514-679-2312</a>
                    </div>
                    <div
                        class="flex flex-col gap-fluid-twenty border-b border-white pt-fluid-forty pb-fluid-forty sm:grid sm:hidden sm:grid-cols-2"
                    >
                        <a>514-679-2312</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="grid grid-cols-12 bg-offwhite pt-16 pr-fluid-forty pb-32 pl-fluid-forty sm:pt-fluid-eighty sm:pb-fluid-270"
    >
        <div class="col-span-12 sm:col-span-8 sm:col-start-3">
            <form id="contact-form">
                <input
                    type="hidden"
                    name="access_key"
                    value="3cb859b7-eb03-4988-a1d8-38cf672ee0c8"
                />
                <label
                    for="name"
                    class="font-radio block text-sm text-body-sm tracking-[2%] uppercase opacity-75"
                >
                    Nom
                </label>
                <input
                    type="text"
                    class="mb-5 w-full border-b border-b-black pt-1 pb-1 text-body-md outline-0"
                    name="name"
                    required
                />
                <label
                    for="email"
                    class="font-radio block text-sm text-body-sm tracking-[2%] uppercase opacity-75"
                >
                    Courriel
                </label>
                <input
                    type="email"
                    name="email"
                    class="mb-5 w-full border-b border-b-black pt-1 pb-1 text-body-md outline-0"
                    required
                />
                <label
                    for="phone"
                    class="font-radio block text-sm text-body-sm tracking-[2%] uppercase opacity-75"
                >
                    Téléphone
                </label>
                <input
                    type="text"
                    name="phone"
                    class="mb-5 w-full border-b border-b-black pt-1 pb-1 text-body-md outline-0"
                    required
                />
                <label
                    for="message"
                    class="font-radio block text-sm text-body-sm tracking-[2%] uppercase opacity-75"
                >
                    Message
                </label>
                <textarea
                    name="message"
                    class="mb-5 w-full resize-none border-b border-b-black pt-1 pb-1 text-body-md outline-0"
                    required
                    rows="6"></textarea>
                <div class="flex h-fit flex-row items-center gap-fluid-twenty pb-fluid-forty">
                    <input
                        type="checkbox"
                        id="reserver"
                        name="reserver"
                        checked
                        class="aspect-square h-4.5 w-auto shrink-0 cursor-pointer appearance-none rounded-none border border-black bg-offwhite transition-colors checked:border-black checked:bg-black checked:bg-[url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12.207%204.793a1%201%200%200%201%200%201.414l-5%205a1%201%200%200%201-1.414%200l-2-2a1%201%200%200%201%201.414-1.414L6.5%209.086l4.293-4.293a1%201%200%200%201%201.414%200z%22%2F%3E%3C%2Fsvg%3E')] checked:bg-center checked:bg-no-repeat"
                    />
                    <label for="reserver" class="text-body-caption leading-[120%] tracking-[3%]"
                        >Je souhaite réserver une consultation gratuite avec un·e coach de Tangible.</label
                    >
                </div>
                <div class="flex flex-row justify-center">
                    <Button id="submit-btn" class="text-body-sm" type="submit">Soumettre</Button>
                </div>
            </form>
        </div>
    </div>
</Layout>
