---
import '@styles/main.css';
import '@styles/tailwind.css';
import { Font, type CssVariable } from 'astro:assets';
import { SEO } from 'astro-seo';
import { defaultSeo } from '@data/seo';
import { getSeo } from '@scripts/utils/seo';
import { Icon } from 'astro-icon/components';
import Navbar from '@components/Navigation/Navbar.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const seoData = getSeo(seo, defaultSeo, title);

// Constants
const FONTS: CssVariable[] = ['--radio', '--editorial', '--formula'];
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, viewport-fit=cover" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        {FONTS.map((font) => <Font cssVariable={font} preload />)}
    </head>
    <body>
        <script src="../scripts/app.ts"></script>

        <Navbar />
        <main id="swup">
            <div id="content" class="bg-offwhite">
                <slot />
            </div>
        </main>
        <footer id="footer">
            <div
                class="desktop-version grid grid-cols-12 gap-fluid-twenty bg-black p-fluid-forty leading-[120%] tracking-[3%] text-offwhite"
            >
                <div class="col-span-3 flex flex-col items-start justify-between">
                    <Icon name="logo" class="h-fluid-thirty w-auto" />
                    <a
                        href={translatePath(Astro.url.pathname, lang === 'en' ? 'fr' : 'en')}
                        class="w-fit font-sans text-body-sm">{lang === 'en' ? 'FR' : 'EN'}</a
                    >
                </div>
                <div class="col-span-5 flex flex-col items-start gap-10">
                    <h6 class="font-sans text-body-sm leading-[120%]">
                        1337 Avenue du Mont-Royal Est<br />
                        Montreal (Quebec) H2J 1Y6<br />
                        CANADA
                    </h6>
                    <h6 class="font-sans text-body-sm leading-[120%]">
                        <a href="tel:5149031794">(514) 903-1794</a><br />
                        <a href="mailto:info@tangible.com">info@tangible.com</a>
                    </h6>
                </div>
                <div
                    class="col-span-2 flex flex-col justify-between font-sans text-body-sm uppercase"
                >
                    <a href={translatePath('/about')} class="w-fit">{t('nav.about')}</a>
                    <a href={translatePath('/programs')} class="w-fit">{t('nav.programs')}</a>
                    <a
                        href="https://www.cognito-app.com/coach/?askedByTenant=ten181110034803"
                        class="w-fit">{t('nav.members')}</a
                    >
                </div>
                <div
                    class="col-span-2 flex flex-col justify-between font-sans text-body-sm uppercase"
                >
                    <a href={translatePath('/contact')} class="w-fit">{t('nav.contact')}</a>
                    <a href={translatePath('/centre-iam')} class="w-fit">{t('nav.iam')}</a>
                    <a href="https://www.app.taaars.com/b/roncherilus" class="w-fit"
                        >{t('nav.book')}</a
                    >
                </div>
            </div>

            <div
                class="mob-version grid grid-cols-8 gap-x-mob-16 gap-y-mob-footer bg-black pt-mob-64 pr-mob-16 pb-mob-32 pl-mob-16 text-white"
            >
                <div class="col-span-8">
                    <Icon name="logo" class="h-fluid-thirty w-auto" />
                </div>
                <div
                    class="col-span-8 flex flex-col items-start gap-mob-64 text-mob-footer-nav tracking-[3%]"
                >
                    <h6 class="font-radio leading-[120%]">
                        1337 Avenue du Mont-Royal Est<br />
                        Montreal (Quebec) H2J 1Y6<br />
                        CANADA<br /><br />
                        <a href="tel:5149031794">(514) 903-1794</a><br />
                        <a href="mailto:info@tangible.com">info@tangible.com</a>
                    </h6>

                    <div class="flex flex-col gap-mob-32">
                        <div class="grid grid-cols-2 gap-mob-16 uppercase">
                            <div class="flex flex-col gap-mob-32">
                                <a href={translatePath('/about')}>{t('nav.about')}</a>
                                <a href={translatePath('/programs')}>{t('nav.programs')}</a>
                                <a
                                    href="https://www.cognito-app.com/coach/?askedByTenant=ten181110034803"
                                    >{t('nav.members')}</a
                                >
                            </div>
                            <div class="flex flex-col gap-mob-32">
                                <a href={translatePath('/contact')}>{t('nav.contact')}</a>
                                <a href={translatePath('/centre-iam')}>{t('nav.iam')}</a>
                                <a href="https://www.app.taaars.com/b/roncherilus"
                                    >{t('nav.book')}</a
                                >
                            </div>
                        </div>
                        <div class="border-t border-t-white pt-mob-32 text-left">
                            <a href={translatePath(Astro.url.pathname, lang === 'en' ? 'fr' : 'en')}
                                >{lang === 'en' ? 'FR' : 'EN'}</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            import { setViewportSize } from '@scripts/utils/setViewportSize';
            import { $screenDebounce } from '@scripts/stores/screen';

            // Set viewport size
            $screenDebounce.subscribe(() => {
                setViewportSize();
            });
        </script>
    </body>
</html>
